#boxes {
	display: flex;
	flex-wrap: wrap;
	width: 250px;
}

.box {
	height: 50px;
	width: 50px;
	margin: 2px;
	border: 1px solid #000;
}

.yellow {
	background-color: #ff0;
}

.blue {
	background-color: #0ff;
}